body {
    color: #fff;
    background-color: rgb(30, 30, 30);
    
    overflow-y: hidden;
}

body, p, h1, h2 {
    margin: 0;
    padding: 0;
}

main {
    height: 95vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

@media screen and (max-width: 499px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 500px) and (max-width: 767px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1369px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 1370px) {
  html {
    font-size: 16px;
  }
}